
::selection{
  background: rgb(254, 201, 107);
  color: white;
}




/* Navbar */

.navbar{
  background: rgb(52, 53, 58); 
}
.logo{
  width: 65px;
}
.nav-item>a{
  color: white;
}
.nav-item>a:hover{
  color: rgb(254, 201, 107);
}
.active{
  color: rgb(254, 201, 107) !important;
}




/* Home */

.home{
  background: rgb(52, 53, 58);
  height: 80vh;
}

.homecontain{ 
  color: white;
}

.homecontain>h1>b{
  color: rgb(254, 201, 107);
  font-size: 60px;
}

.homebtn{
  color: rgb(254, 201, 107);
  background: rgb(52, 53, 58);
  border: 3px solid rgb(254, 201, 107);
  border-radius: 5px;
  font-size: 20px;
}

.homebtn:hover{
  background: rgb(254, 201, 107);
  color: white;
}

.himg>img{
  height: 100%;
  width: 100%;
}





/* About */

.about{
  background: rgb(52, 53, 58);
}
.aboutcontain>h1{
  font-size: 50px;
  color: white;
}
.aboutcontain>p{
  color: white;
  font-size: large;
}





/* My Skills */

.myskills{
  background: rgb(52, 53, 58);
  color: white;
  text-align: center;
}

.boxs{
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.box{
  border-radius: 20px;
  padding: 20px;
  height: 50%;
  width: 20%;
  background: rgb(61, 62, 66);
}
.box:hover{
  background: rgb(254, 201, 107);
}
.box>img{
  height: 50px;
  width: 50px;
}




/* Projects */

.projects{
  background: rgb(52, 53, 58); 
}

.projects>h1{
  color: white;
}
.pfirst>img{
  width: 30%;
}

.project-btn{
  color: rgb(254, 201, 107);
  background: rgb(52, 53, 58);
  border: 3px solid rgb(254, 201, 107);
  border-radius: 5px;
  font-size: 20px;
}

.project-btn:hover{
  background: rgb(254, 201, 107);
  color: white;
}

/* ----------- */
.procard {
  position: relative;
  width: 30%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.procard:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text>button{
  font-size: 15px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: rgb(254, 201, 107);
}




/* contact */

.contact{
  color: white;
  background: rgb(52, 53, 58);
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 30px;
  background: rgb(61, 62, 66);
  border-radius: 10px;
  width: 45%;
  height: 80%;
  gap: 30px;
}
.last>input{
  width: 97%;
  padding-bottom: 200px;
  padding-left: 10px;
  background: rgb(18, 21, 20);
  border: none;
  border-radius: 10px;

}
.top>input{
  color: white;
  background: rgb(18, 21, 20);
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.down>input{
  padding: 10px;
  color: white;
  background: rgb(18, 21, 20);
  border: none;
  border-radius: 10px;
}
.form>button{
  width: 40%;
  color: white;
  background: rgb(18, 21, 20);
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: 30%;
}
.form>button:hover{
  background: rgb(254, 201, 107);
}






/* footer */

.footer{
  background: rgb(52, 53, 58);
  color: rgb(254, 201, 107);
  flex-direction: column;
  align-items: center;
}

.links>button{
  padding: 10px;
  border: none;
  background: rgb(18, 21, 20);
  border-radius: 3px;
  
}
.links>button:hover{
  background: rgb(254, 201, 107);
}
